/* Reset */
* {
  margin: 0px;
  padding: 0px;
}

/* CSS for Main */
.mainSection{
  background-color: lightgray;
  height: 100%;
  padding-top: 1px;
}

.content{
  background-color: white;
  margin: 20px;
  margin-bottom: 0px;
  border: 20px;
  height: auto;
  padding: 20px;
}

.content-title{
  color: #495464;
}

.content-subsection{
  color: gray;
}

.btn{
  background-color: #495464;
  border: none;
}

.btn:hover{
  background-color: gray;
}


/* 768px+ Media Queries */
@media screen and (min-width:768px){

  /* Main CSS */
  .content{
      width: 720px;
  }
 
}

