/* CSS for footer */
#seperationBar{
  background-color: #495464;
  height: 5px;
}

.box{
  background-color: #e8e8e8;
  height: 100px;
  text-align: center;
}

.box p{
  color: #495464;
  display: inline;
}

#footnote{
  padding: 40px;
  color: #495464;
}