/* Reset */
* {
  margin: 0px;
  padding: 0px;
}

/* CSS for Main */
.mainSection{
  background-color: #f4f4f2;
  height: 100%;
  padding-top: 1px;
}

.content{
  background-color: white;
  margin: 20px;
  margin-bottom: 0px;
  border: 20px;
  padding: 20px;
  width: 96%;
}

.content-title{
  color: #495464;
}


.cardShell{
  width: 100%;
  height: auto;
  background-color: white;
}

.cardShell img{
  height: auto;
  width: 150px;
  float: left;
  margin: 30px;
}

.cardTextHolder{
  display: inline-block;
  width: 60%;
  color: #495464;
}

.cardTitle:hover {
  color: #bbbfca;
}

.cardTextHolder p{
  padding: 0px;
}

.cardShell p{
  /* display: inline; */
}
